.container {
    width: 90%;
    height:50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 1rem 0 0 0;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.box .heading {
    font-size: 1.7rem;
}

.box .description {
    font-weight: 500;

}

.box .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Poppins';
    padding: 8px 12px 8px 12px;
    transition: 0.3s;
    animation: upDown 1s ease-in-out infinite;
    cursor: pointer;
}


@keyframes upDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

@media screen and (max-width: 768px) {
    .box .heading {
        font-size: 1.5rem;
    }
    
}